
.vs/Gengine/v15/.suo
.vs/Gengine/v15/Browse.VC.db
.vs/Gengine/v15/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.xmake/windows/x64/cache/config
.xmake/windows/x64/cache/detect
.xmake/windows/x64/cache/history
.xmake/windows/x64/cache/option
.xmake/windows/x64/cache/package
.xmake/windows/x64/cache/repository
.xmake/windows/x64/cache/toolchain
.xmake/windows/x64/project.lock
.vs/VSWorkspaceState.json
.vs/Gengine/FileContentIndex/9edd485f-e7bd-4e9d-aa6f-8f4ddaa63d69.vsidx
*.lock
.vs/Gengine/v17/.suo
.vs/tasks.vs.json
.vs/Gengine/v17/Browse.VC.db
CppProperties.json
CppProperties.json
.xmake/windows/x64/xmake.conf
